@import "variables";
@import "media";

.container {
	display: flex;
	height: 100%;

	@include mobile() {
		padding-top: $navbar-height-mobile;
	}

	@include tablet() {
		padding-top: $navbar-height-tablet;
	}

	.content {
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: $green-100;

		p {
			margin: $default-margin * 2 0;

			@include min-tablet() {
				margin: $default-margin * 2 $default-margin * 2;
			}
		}

		.column {
			box-sizing: border-box;
			width: 100%;
			min-height: 100%;
			margin: auto;
			padding: $default-padding;
			background-color: $gray-200;

			@include min-tablet() {
				padding: 35px $default-padding * 2 $default-padding * 2 $default-padding * 2;
			}

			@include desktop() {
				max-width: $max-content-width;
				border-left: 5px solid $gray-300;
				border-right: 5px solid $gray-300;
			}
		}

		ol {
			list-style: none;
			padding: 0 40px;
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;

			li {
				border-top: 2px dashed $green;
				margin: 0;
				padding: 30px;
				counter-increment: section;
				position: relative;
			}

			li:nth-child(odd):before {
				content: counter(section);
				right: 100%;
				margin-right: -20px;
				position: absolute;
				border-radius: 50%;
				padding: 10px;
				height: 20px;
				width: 20px;
				background-color: $green;
				text-align: center;
				color: white;
				font-size: 110%;
			}

			li:nth-child(even):before {
				content: counter(section);
				left: 100%;
				margin-left: -20px;
				position: absolute;
				border-radius: 50%;
				padding: 10px;
				height: 20px;
				width: 20px;
				background-color: $green;
				text-align: center;
				color: white;
				font-size: 110%;
			}
		}

		li:nth-child(odd) {
			border-left: 2px dashed $green;
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
			margin-right: 30px;
			padding-right: 0;
		}

		li:nth-child(even) {
			border-right: 2px dashed $green;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			margin-left: 30px;
			padding-left: 0;
		}

		li:first-child {
			border-top: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		li:last-child {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
