@import "variables";
@import "media";

.container {
	display: flex;
	height: 100%;

	@include mobile() {
		padding-top: $navbar-height-mobile;
	}

	@include tablet() {
		padding-top: $navbar-height-tablet;
	}

	.content {
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: $green-100;

		.column {
			box-sizing: border-box;
			width: 100%;
			min-height: 100%;
			margin: auto;
			padding: $default-padding;
			background-color: $gray-200;

			@include min-tablet() {
				padding: 35px $default-padding * 2 $default-padding * 2 $default-padding * 2;
			}

			@include desktop() {
				max-width: $max-content-width;
				border-left: 5px solid $gray-300;
				border-right: 5px solid $gray-300;
			}
		}

	}
}

p {
	margin: $default-margin * 2 0;

	@include min-tablet() {
		margin: $default-margin * 2 $default-margin * 2;
	}

	&.warning, &.info, &.question {
		color: $light;
		margin: $default-margin * 4 $default-margin;
		padding: $default-padding * 2;
		min-height: $min-height-notification;

		i {
			font-size: 5em;
			float: left;
			margin: $default-margin * 2 $default-margin * 3 $default-margin * 2 $default-margin * 2;
		}
	}

	&.warning {
		background-color: $accent-red;
	}

	&.info {
		background-color: $blue;
	}

	&.question {
		background-color: $yellow-400;
		color: $dark;
	}
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		counter-increment: section;
		position: relative;
		background-color: $gray-100;
		margin: $default-margin * 4 $default-margin;
		padding: $default-padding * 2 $default-padding * 2 $default-padding * 2 $default-padding * 6;

		@include mobile() {
			margin-left: 0;
			margin-right: 0;
			padding: $default-padding * 4 $default-padding * 2 $default-padding * 2;
		}

		&:nth-of-type(odd) {
			background-color: $gray-300;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		p {
			margin: 0 0 $default-margin 0;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	li:before {
		content: counter(section);
		top: -20px;
		left: -20px;
		position: absolute;
		border-radius: 50%;
		padding: $default-padding 24px;
		background-color: $accent-yellow;
		text-align: center;
		color: $dark;
		font-size: 2em;

		@include mobile() {
			top: -25px;
			left: 5px;
			padding: $default-padding $default-padding * 2;
			font-size: 1.4em;
		}
	}
}
