@import "variables";
@import "media";

/* mobile and tablet navigation */
.nav-mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $blue-800;
	color: $light;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
	z-index: 100;

	@include desktop() {
		display: none;
	}

	i {
		padding: $default-padding * 2;
		cursor: pointer;
	}

	.nav-header {
		margin: $default-margin;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		@include tablet() {
			align-items: center;

			.name {
				font-size: 1.4em;
			}
		}

		@include mobile() {
			flex-direction: column;

			.occupation {
				font-size: 0.7em;
			}
		}

		.occupation {
			color: $green;
		}
	}
}

.nav-mobile-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	background-color: $dark;
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
	font-family: "Roboto", sans-serif;
	font-size: 2em;

	.overlay-content {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.row {
		display: flex;
		flex-direction: row;
		padding: 0;

		a {
			flex: 1;
			font-size: 0.5em;
			border-right: 1px dotted $light;
			margin: 0;
			padding: $default-padding * 2 8px;

			&:last-of-type {
				border-right: none;
			}
		}
	}

	a {
		color: $light;
		padding: 8px;
		text-decoration: none;
		display: block;
		transition: 0.3s;

		&:not(.overlay-bottom) {
			border-bottom: 1px dotted $light;
		}

		&:nth-last-of-type(3) {
			border-bottom: none;
		}

		&.overlay-bottom {
			position: absolute;
			bottom: $default-margin;
			font-size: 0.6em;
			z-index: 200;

			&.overlay-impressum {
				left: $default-margin;
			}

			&.overlay-datenschutz {
				right: $default-margin;
			}
		}

	}
}

/* desktop navigation */
.nav {
	height: 100%;
	width: 450px;
	background-color: $light;
	border-right: 2px solid $gray-100;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include max-tablet {
		display: none;
	}

	.logo {
		background-color: $blue-800;
		font-family: "Roboto", sans-serif;
		position: relative;
		flex: 1;

		.name {
			font-family: "Roboto", sans-serif;
			font-size: 2em;
			background-color: $blue-800;
			color: $light;
			margin: 0;
			padding: $default-padding $default-padding 5px $default-padding;
		}

		.occupation {
			font-size: 0.9em;
			color: $green;
			margin: 0;
			padding: 0 $default-padding $default-padding * 2 $default-padding;
		}
	}

	nav {
		flex: 1;
	}

	nav > ul {
		padding: 0;
		margin: 0;

		li {
			display: block;
			list-style: none;
			cursor: pointer;
			border-bottom: 2px solid $gray-100;

			&:nth-of-type(1) {
				border-top: 2px solid $gray-100;
			}

			&:hover {
				a {
					i {
						background-color: $blue-300;
						transition: background-color 0.4s ease-in-out;
					}
				}
			}

			&.active {

				a {
					i {
						background-color: $blue-800;
						color: $light;
					}
				}
			}

			&.sub-item {
				padding-left: $default-padding * 4;
				font-size: 0.8em;

				i {
					background-color: $light;
					padding: $default-padding * 1.5 $default-padding;
				}
			}

			a {
				text-decoration: none;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.nav-link-text {
					color: $blue-300;
					padding: 0 $default-padding;
				}

				i {
					background-color: $blue-100;
					color: $dark;
					padding: $default-padding * 2;
				}
			}
		}
	}

	.legal-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		flex: 10;

		a {
			margin: $default-margin;
			display: flex;
			font-size: 0.8em;
		}
	}
}

