@import "variables";
@import "media";

@include max-tablet() {
	.nav {
		display: none;
	}
}

.nav {
	height: 100%;
	width: 450px;
	background-color: $light;
	border-right: 2px solid $gray-100;
	overflow-x: hidden;
	overflow-y: auto;

	.logo {
		background-color: $blue-800;
		font-family: "Roboto", sans-serif;
		position: relative;

		.name {
			font-family: "Roboto", sans-serif;
			font-size: 2em;
			background-color: $blue-800;
			color: $light;
			margin: 0;
			padding: $default-padding $default-padding 5px $default-padding;
		}

		.occupation {
			font-size: 0.9em;
			color: $green;
			margin: 0;
			padding: 0 $default-padding $default-padding * 2 $default-padding;
		}

		.location {
			font-size: 1.1em;
			color: $dark;
			background-color: $accent-yellow;
			margin: 0;
			position: absolute;
			bottom: $default-padding;
			right: $default-padding;
			padding: 5px 10px;
		}
	}

	nav > ul {
		padding: 0;
		margin: 0;

		li {
			display: block;
			list-style: none;
			cursor: pointer;
			border-bottom: 2px solid $gray-100;

			&:nth-of-type(1) {
				border-top: 2px solid $gray-100;
			}

			&:hover {
				a {
					i {
						background-color: $blue-300;
						transition: background-color 0.4s ease-in-out;
					}
				}
			}

			&.active {

				a {
					i {
						background-color: $blue-800;
						color: $light;
					}
				}
			}

			a {
				text-decoration: none;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.nav-link-text {
					color: $blue-300;
					padding: 0 $default-padding;
				}

				i {
					background-color: $blue-100;
					color: $dark;
					padding: $default-padding * 2;
				}
			}
		}
	}
}

