@import "variables";
@import "fonts";
@import "navigation";
@import "content";
@import "flowchart";
@import "file-list";
@import "fontawesome/variables";

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $dark;
	background-color: $green-100;
	-webkit-font-smoothing: antialiased !important;
	height: 100%;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	color: $gray-800;
	margin: 0;
	padding: $default-padding * 2;
	text-align: center;
	letter-spacing: 0.02em;
	overflow: hidden;
	text-overflow: ellipsis;
	border-top: 2px solid $gray-800;
	border-bottom: 2px solid $gray-800;

	@include mobile() {
		margin: 0;
	}
}

h2 {
	font-family: "Roboto", sans-serif;
	color: $gray-800;
	margin: 0;
	padding: $default-padding * 6 $default-padding * 2 0 $default-padding * 2;
	font-size: 1.4em;
	letter-spacing: 0.02em;
	overflow: hidden;
	text-overflow: ellipsis;

	@include mobile() {
		margin: 0;
		padding: $default-padding * 4 0 0 0;
	}
}

h3 {
	font-family: "Roboto", sans-serif;
	color: $gray-800;
	margin: 0;
	padding: $default-padding * 4 $default-padding * 2 0 $default-padding * 2;
	font-size: 1.2em;
	letter-spacing: 0.02em;
	overflow: hidden;
	text-overflow: ellipsis;

	@include mobile() {
		margin: 0;
		padding: $default-padding * 4 0 0 0;
	}
}

h4 {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: $gray-800;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 0.02em;
	margin: 0;
	padding: $default-padding * 3 $default-padding * 2 0 $default-padding * 2;

	@include mobile() {
		padding: $default-padding * 4 0 0 0;
	}
}

h5 {
	font-family: "Roboto", sans-serif;
	color: $gray-800;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 0.02em;
	margin: 0;
	padding: $default-padding * 2 $default-padding * 2 0 $default-padding * 2;

	@include mobile() {
		padding: $default-padding * 4 0 0 0;
	}
}

h6 {
	font-size: 1em;
}

p {
	line-height: 1.6em;
	text-align: justify;

	&.centered {
		display: flex;
		justify-content: center;

		img {
			align-self: center;
		}
	}
}

img {
	$image-border: 2px solid #BEBEBE;

	&.full-width {
		width: 56%;
		border: $image-border;
		padding: 5px;
		height: auto;

		@include mobile() {
			width: 100%;
			border: 0;
			padding: 0;
		}
	}

	@mixin float-image {
		width: 48%;
		border: $image-border;
		padding: 5px;
	}
	&.float-left {
		float: left;
		margin: 0 40px 20px 0;
		@include float-image;
	}

	&.float-right {
		float: right;
		margin: 0 0 20px 40px;
		@include float-image;

		@include mobile() {
			width: 100%;
			border: 0;
			padding: 0;
		}
	}
}

table {
	line-height: 1.9em;
	border: 0 solid $green;
}

/* add alternativ colors to table rows */
tr:nth-child(odd) {
	background-color: $green;
}

tr:nth-child(even) {
	background-color: $gray;
}

hr {
	margin: 50px 0 30px 0;
	border-top: 1px solid #ededed;
	border-bottom: none;
}

a {
	text-decoration: none;
	color: $blue;
	overflow-wrap: break-word;

	&.button {
		padding: $default-padding $default-padding * 2;
		background-color: $blue-100;
		color: $dark;
		text-align: center;
		border-radius: $default-radius;

		&::after {
			font-family: "Font Awesome 5 Free";
			content: fa-content($fa-var-arrow-circle-right);
			margin-left: $default-margin;
		}

		&:hover {
			color: $light;
			background-color: $blue-800;
		}
	}
}

.hidden {
	display: none;
}

.top-60 {
	margin-top: 60px;
}
