/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /**************************************************
	*
	* colors:
	* ========
	* main: 342B22 (sepia brown)
	* monochromatic1: 4D341B (natural brown)
	* monochromatic2: 806A54 (grey brownish)
	* monochromatic3: 80572E (glowing brown)
	* monochromatic4: CCA986 (bright)
	* complemantary3: 3A7080 (light blue)
	* complementary4: 222F33 (dark blue)
	* compound1: 997A27 (orange)
	* compound3: 1A403F (dark green)
	* compund4: 396658 (light green)
	*
	* highlight colors:
	* ===================
	* main: 2B8BFF (light blue)
	* complementary1: 4499FF (lighter blue)
	* complementary2: 0051B2 (darker blue)
	* complementary3: B27810 (dark orange)
	* complementary4: FFB42B (light orange)
	*
	**************************************************/

   @font-face {
		font-family: 'Capita-Light';
		src: url('25A809_0_0.eot');
		src: url('25A809_0_0.eot?#iefix') format('embedded-opentype'),
			url('25A809_0_0.woff') format('woff'),
			url('25A809_0_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'MuseoSans-500';
		src: url('25C6E0_0_0.eot');
		src: url('25C6E0_0_0.eot?#iefix') format('embedded-opentype'),
			url('25C6E0_0_0.woff') format('woff'),
			url('25C6E0_0_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'StRydeRegular';
		src: url('25C6E7_0_0.eot');
		src: url('25C6E7_0_0.eot?#iefix') format('embedded-opentype'),
			url('25C6E7_0_0.woff') format('woff'),
			url('25C6E7_0_0.ttf') format('truetype');
	}
	 
	  
	@font-face {
		font-family: 'Corda-Light';
		src: url('25C6E7_1_0.eot');
		src: url('25C6E7_1_0.eot?#iefix') format('embedded-opentype'),
			url('25C6E7_1_0.woff') format('woff'),
			url('25C6E7_1_0.ttf') format('truetype');
	}
	 
	  
	@font-face {
		font-family: 'SanchezCondensed';src: 
		url('25C6E7_2_0.eot');
		src: url('25C6E7_2_0.eot?#iefix') format('embedded-opentype'),
			url('25C6E7_2_0.woff') format('woff'),
			url('25C6E7_2_0.ttf') format('truetype');
	}
	
	@font-face {
		font-family: 'AlexBrushRegular';
		src: url('AlexBrush-Regular-OTF-webfont.eot');
		src: url('AlexBrush-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
			 url('AlexBrush-Regular-OTF-webfont.woff') format('woff'),
			 url('AlexBrush-Regular-OTF-webfont.ttf') format('truetype'),
			 url('AlexBrush-Regular-OTF-webfont.svg#AlexBrushRegular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	body {
		font-family: 'StRydeRegular';
		color: #342B22;
		-webkit-font-smoothing: antialiased !important;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	h1 { font-size:26px; color:#80572E; }
	h2 { font-size:22px; color:#806A54;}
	h3 { font-size:20px; color:#806A54;}
	h4 { font-size:18px; color:#4D341B;}
	h5 { font-size:17px; }
	h6 { font-size:16px; }

	p { line-height: 24px; }

	ul, ol { line-height: 24px; }

	li { line-height: 24px; color:#4D341B;}

	.brandname {
		font-family: 'AlexBrushRegular';/*'MuseoSans-500';*/
		font-weight:100;
		font-size:1.4em;
		margin-left:50px;
	}
	
	.navbar {
		margin-bottom:0px;
	}
	
	.logo {
		background:url('../img/albert-logo.png') no-repeat left top;
		height:40px;
		width:40px;
		position:absolute;
		top:0px;
	}
	
	.header {
		font-family: serif;
		background-color: #000;
		width:100%;
		height:560px;
		color: #fff;
		min-height:100%; 
		-webkit-transform: translateZ(0);
		-moz-transition: height;
		-webkit-transition: height;
		-o-transition: height;
		transition: height;
		-moz-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
	}
	
	div.headlinewrapper {
		position: table;
		height:100%;
	}
	
	div.headline {
		position:absolute;
		bottom:20px;
		width:90%;
	}
	
	div.headline h1 {
		font-family: 'SanchezCondensed';
		font-size: 6em;
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		font-weight:600;
		line-height: 1em;
		margin: 0px;
		-webkit-transition: font-size .3s ease-in-out;
		-moz-transition: font-size .3s ease-in-out;
		-o-transition: font-size .3s ease-in-out;
		-ms-transition: font-size .3s ease-in-out;
	}
	
	div.headline h2 {
		font-family: 'SanchezCondensed';
		font-size: 2em;
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		line-height: 1em;
		margin-bottom: 0px;
		-webkit-transition: font-size .3s ease-in-out;
		-moz-transition: font-size .3s ease-in-out;
		-o-transition: font-size .3s ease-in-out;
		-ms-transition: font-size .3s ease-in-out;
	}
	
	div.headline h3 {
		font-family: 'SanchezCondensed';
		font-size: 1.5em;
		display: inline-block;
		background-color:rgba(0, 0, 0, 0.6);
		color: #CCA986;
		text-transform: uppercase;
		line-height: 1.4em;
		padding: 10px;
		max-width: 60%;
		font-style:italic;
		-webkit-transition: font-size .3s ease-in-out;
		-moz-transition: font-size .3s ease-in-out;
		-o-transition: font-size .3s ease-in-out;
		-ms-transition: font-size .3s ease-in-out;
	}
	
	.btn-blue {
		color: #fff;
		background-color: #2B8BFF;
		background-image: -moz-linear-gradient(top,#4499FF,#2B8BFF);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#4499FF),to(#2B8BFF));
		background-image: -webkit-linear-gradient(top,#4499FF,#2B8BFF);
		background-image: -o-linear-gradient(top,#4499FF,#2B8BFF);
		background-image: linear-gradient(to bottom,#4499FF,#2B8BFF);
		border: 1px solid #2B8BFF;
		text-shadow: 0 1px 1px rgba(0, 81, 171, 0.75);
	}
	
	.btn-blue:hover {
		color: #fff;
		background-color: #2B8BFF;
	}