<?xml version="1.0" encoding="UTF-8"?>
<sitetemplate>
  <name>Reichert Psychotherapie 19-08-08</name>
	<description>A personal portfolio website for therapists</description>

	<views>
		<folder>views</folder>
		<layoutfolder>layout</layoutfolder>
		<modulefolder>module</modulefolder>
	</views>

	<layouts>
		<layout>
			<name>1col</name>
			<description>1-column page</description>
			<view>1col</view>
			<columns>1</columns>
		</layout>
	</layouts>

	<modules>
		<module>
			<name>content</name>
			<description>content column</description>
			<view>content</view>
			<allowarticles>true</allowarticles>
		</module>
		<module>
			<name>file-download</name>
			<description>overview for downloadable pdf files</description>
			<view>file-download</view>
			<allowarticles>false</allowarticles>
		</module>
	</modules>

	<preview>
		<folder>preview</folder>
		<previewimage>
			<filename>preview1.jpg</filename>
			<description>Main site, featuring a one column vertical float layout</description>
		</previewimage>
	</preview>

	<stylesheet>
		<folder>css</folder>
		<load>layout_grids.css</load>
	</stylesheet>
	<javascript>
		<folder>js</folder>
    <load>jquery-3.4.1.min.js</load>
		<load>reichertpsychotherapie.js</load>
	</javascript>
	<images>
		<folder>img</folder>
	</images>

</sitetemplate>
