/*
	CSS definitions for the right navigation at the program subpage
*/

.program_nav
{
	margin:0 0 0 -20px;
	padding:0;
	height:700px;
}

.program_nav li, li li
{
	background: #fff;/*#EFEBED;*/
	padding: 10px 20px 10px;
	border-top: dotted 1px #D5D2D4;
	curser: pointer;
	list-style:none;
}

.program_nav li li
{
	padding: 0 0 0 30px;
}

.program_nav li:hover
{
	background: #f6ffe9;
}

.program_nav a,
.program_nav a:hover,
.program_nav a:active
{
	text-decoration: none;
}
