<?xml version="1.0" encoding="UTF-8"?>
<sitetemplate>
	<name>Karmeliterschule 12-02-29</name>
	<description>A school page template with a theme based on the skyline of the city Frankfurt am Main and the school Karmeliterschule itself.</description>

	<views>
		<folder>views</folder>
		<layoutfolder>layout</layoutfolder>
		<modulefolder>module</modulefolder>
	</views>

	<layouts>
		<layout standard="true">
			<name>2col</name>
			<description>2-column page</description>
			<view>2col</view>
			<columns>2</columns>
		</layout>
	</layouts>
	
	<modules>
		<module>
			<name>content</name>
			<description>content column</description>
			<view>content</view>
			<allowarticles>true</allowarticles>
		</module>
		<module>
			<name>nav</name>
			<description>navigation column (overview)</description>
			<view>navigation</view>
			<allowarticles>false</allowarticles>
		</module>
		<module>
			<name>archive</name>
			<description>archive for uploaded pdf files</description>
			<view>archive</view>
			<allowarticles>false</allowarticles>
		</module>
		<module>
			<name>archivenav</name>
			<description>archive navigation column (overview sorted by years)</description>
			<view>archive_navigation</view>
			<allowarticles>false</allowarticles>
		</module>
		<module>
			<name>mascotpdf</name>
			<description>school mascot with speech bubble / pdf column</description>
			<view>mascotpdf</view>
			<allowarticles>false</allowarticles>
		</module>
		<module>
			<name>contact</name>
			<description>contact column</description>
			<view>contact</view>
			<allowarticles>false</allowarticles>
		</module>
	</modules>
	
	<preview>
		<folder>preview</folder>
		<previewimage>
			<filename>preview1.jpg</filename>
			<description>Main site, featuring a two-column layout</description>
		</previewimage>
	</preview>
	
	<stylesheet>
		<folder>css</folder>
		<load>layout_grids.css</load>
	</stylesheet>
	<javascript>
		<folder>js</folder>
		<!--<load>jquery.min.js</load>-->
		<load type="external">//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js</load>
		<load>karmeliterschule.js</load>
	</javascript>
	<images>
		<folder>images</folder>
	</images>

</sitetemplate>